@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Grid slots controlled by data-grid */

.card[data-grid="img-0"] {
  grid-area: 1 / 1 / 5 / 5; /* BIG */
}

.card[data-grid="img-1"] {
  grid-area: 3 / 5 / 5 / 7;
}

.card[data-grid="img-2"] {
  grid-area: 1 / 5 / 3 / 7;
}

.card[data-grid="img-3"] {
  grid-area: 5 / 5 / 7 / 7;
}

.card[data-grid="img-4"] {
  grid-area: 5 / 3 / 7 / 5;
}

.card[data-grid="img-5"] {
  grid-area: 5 / 1 / 7 / 3;
}

